{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <h1>Transaction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Nom_en</th>
                <td>{{ transaction.nomEn }}</td>
            </tr>
            <tr>
                <th>Prenom_en</th>
                <td>{{ transaction.prenomEn }}</td>
            </tr>
            <tr>
                <th>Nom_ben</th>
                <td>{{ transaction.nomBen }}</td>
            </tr>
            <tr>
                <th>Prenom_ben</th>
                <td>{{ transaction.prenomBen }}</td>
            </tr>
            <tr>
                <th>Date_trans</th>
                <td>{{ transaction.dateTrans ? transaction.dateTrans|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CIN_en</th>
                <td>{{ transaction.CINEn }}</td>
            </tr>
            <tr>
                <th>CIN_ben</th>
                <td>{{ transaction.CINBen }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ transaction.code }}</td>
            </tr>
            <tr>
                <th>Envoie</th>
                <td>{{ transaction.envoie }}</td>
            </tr>
            <tr>
                <th>Retrait</th>
                <td>{{ transaction.retrait }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('transaction_index') }}">back to list</a>

    <a href="{{ path('transaction_edit', {'id': transaction.id}) }}">edit</a>

    {{ include('transaction/_delete_form.html.twig') }}
{% endblock %}
